# Vorlesung 3: Gruppen von Individuen in Dataframes

## Pandas Dataframes

In [1]:
import json
import pandas as pd
import re

In [2]:
# json.load erzeugt ein dictionary der JSON Daten
with open('chapter1.json') as json_data:
    PoleisRawData = json.load(json_data)

In [3]:
# Abfrage des Datentyps
type(PoleisRawData)

dict

In [4]:
# list() erstellt eine Liste der keys
PoleisKeyList = list(PoleisRawData)
PoleisKeyList

['37. Morgantina ',
 '42. Petra ',
 '22. Herbes(s)os ',
 '28. Kamarina ',
 '17. Gela ',
 '7. Agyrion ',
 '36. Megara ',
 '31. Kentoripa ',
 '21. Herakleia 2 ',
 '43. Piakos ',
 '48. Tauromenion ',
 '29. Kasmenai ',
 '9. Akragas ',
 '35. *Longane ',
 '40. Nakone ',
 '20. Herakleia 1',
 '49. Tyndaris ',
 '32. Kephaloidion ',
 '12. Alontion ',
 '19. Henna ',
 '23. Herbita ',
 '16. Galeria ',
 '33. Leontinoi ',
 '45. (Sileraioi)',
 '6. Adranon ',
 '34. Lipara ',
 '47. Syrakousai ',
 '38. Mylai ',
 '39. Mytistratos ',
 '11. Alaisa ',
 '41. Naxos ',
 '24. Himera ',
 '18. Heloron ',
 '13. Apollonia ',
 '15. Euboia ',
 '14. Engyon ',
 '25. Hippana ',
 '30. Katane ',
 '27. Kallipolis ',
 '50. (Tyrrhenoi)',
 '10. Akrai ',
 '8. Aitna ',
 '44. Selinous ',
 '46. (Stielanaioi)',
 '26 *Imachara ',
 '51. Zankle ',
 '5. Abakainon ']

In [5]:
# Listenelemente werden mit eckigen Klammern ausgewählt. Eine Index-Zahl gibt die n-Stelle der Liste aus
PoleisKeyList[1]

'42. Petra '

In [6]:
for i in PoleisKeyList:
    if "Megara" in PoleisRawData[i]:
        print(i)

36. Megara
33. Leontinoi
47. Syrakousai
18. Heloron
15. Euboia
44. Selinous
46. (Stielanaioi)

In [7]:
# Der key in eckigen Klammern gibt den Wert des Elements mit dem Key aus
PoleisRawData[PoleisKeyList[4]]

'(Geloios,  Geloaios) Map  47.  Lat. 37.05,long. 14.15.  Size  of  territory: 4  in  C 7;  for  the  C 6\xadC5e  dominion,  see below.  Type:  A: .  The  toponym  is  ,  (Hdt. 7.153.1)  or (F.Delphes iii.4452  (c. 474);  Thuc. 4.58).  The  uncon- tracted  city-ethnic  is  (IGDS  no. 132  ( 550\xad525)), contracted to (Hdt. 7.154.1;  Thuc. 7.58.1;  IGDS  no. 158  (C 5e));  the  form  is  found  in  SEG 24  303 (C 6\xadC5),  possibly  an  Ionic  form,  but  see  IGDS  notes  ad 132 and  Cordiano  ( 1995),  who  suggests  reading  ,  i.e. the  city-ethnic  of  Hyele  (no. 54),  not  Gela. Gela  is  called  polis  in  the  political  sense  by  Thuc. 6.4.3,and in  the  urban  sense  by  Thuc. 6.4.3  and  Theopomp.  fr. 358. Polites  occurs  at  Hdt. 7.155.1  and  astos  at  Hdt. 7.156.2.Its politeia  was  described  by  Aristotle  (Arist.  fr. 491).  A  C 5 bronze  weight  is  inscribed  µ&lt;  &gt; (IGDS  no. 152).  It  is called  patris  in  Empedokles  fr. 156.4  (DK). The  internal  collective  use  of  the  city-ethnic  is  found  in IGDS  no. 153  (C 5e)  and  on  C 5  coins  (infra).  The  external  col- lective  use  is  found  in  Hdt. 7.156.2  and  Thuc. 7.58.1;  the external  individual  use  is  found  in  IGDS  no. 132  ( 550\xad525), IvO 142  (c. 488)  and  IG ii²  8460  (C 4e). Gela  was  founded  45  years  after  Syracuse,  i.e.  in  689/8,by colonists  from  Rhodos  and  Crete  (Thuc. 6.4.3);  according  to Hdt. 7.153.1  by  Lindians  (no. 997)  from  Rhodos.  The  oecists were  the  Rhodian  Antiphemos  and  the  Cretan  Entimos (Thuc. 6.4.3;  cf.  the  C 6\xadC5  dedication  to  Antiphemos:  IGDS no. 135,  indicating  a  cult  of  the  oecist  (Orlandini  ( 1968) 44\xad46)).  The  colonists  instituted  µµ   at  Gela (Thuc. 6.4.3).  Early  Geloan  expansion  into  the  hinterland may  be  inferred  from  the  sack  of  Omphake,  a  µ ,by Antiphemos (Paus.8.46.2  (rC 7));  and  conflicts between  Geloans  and  the  indigenous  population  are  attest- ed  in  other  sources,  e.g.  Artemon  (FGrHist 569)  fr. 1  and  the Lindian  Temple  Chronicle  25  Xenagoras  (FGrHist 240)  fr. 12,  which  mentions  an        dedicated to  Athena  Lindia  by  the  Geloans.  It  was  probably  this  expan- sionist  policy  that  led  to  the  foundation  of  Akragas  (no. 9), which  was  founded  108  years  after  Gela\'s  own  foundation, i.e.  c. 580  (Thuc. 6.4.4;  cf.  Pind.  Ol. 2.93  with  schol. 576). The  plateau  of  Gela  dominated  the  coastal  plain  and  the vast  inland  lowland.  Apparently,  the  plain  was  mainly  agricultural  and  without  settlements.  It  was  delimited  by  a row  of  hills  settled  with  indigenous  sites  which  all  came under  Geloan  influence in C 7f,  soon  after  the  foundation  of Gela.  Two  of  the  larger  cities  were  Omphake  (perhaps  mod- ern  Butera:  see  most  recently  Adamesteanu  ( 1994\xad95)  113), subjected  by  Gela  early  on  (supra),  and  Maktorion  (possibly modern  Monte  Bubbonia:  Bejor  ( 1991)  305).  The  tracts along  the  valleys  of  the  rivers  Salso  (ancient  Himera), Dessueri  and  Maroglio  (ancient  Gela  and  its  tributaries) came  under  Gela\'s  influence from C 6e,  as  far  inland  as Caltanisetta  (sites  of Sabucina;  Gibil  Gabib)  and Caltagirone  (site  of  Monte  San  Mauro,  perhaps  a Chalkidian  settlement  and  therefore  on  the  edge  of  the Geloan  area  of  influence) (Orlandini ( 1962);  see  Euboia  (no. 192 fischer-hansen,  nielsen  and  ampolo 15)).  Eastwards  the  border  between  Gela  and  Kamarina  (no. 28)  was  marked  by  the  Dirillo  valley,  with  a  rural  sanctuary at  Feudo  Nobile  dedicated  to  chthonic  divinities (Canzanella  ( 1989)).  Westwards  Geloan  influence may have reached  as  far  as  the  river  Platani  (ancient  Halykos),  the eastern  frontier  of  Selinous  (no. 44).  In  C 7  the  immediate hinterland  of  Gela  comprised  an  area  of  about  375  km ²,but the  period  of  Hippokrates  and  Gelon  saw  a  Geloan  domin- ion  comprising  large  tracts  of  north-east  (Chalkidian)  and south-east  (Syracusan)  Sicily.  Philistos  (FGrHist 556)  fr. 5 implies  a  C 6m  treaty  of  symmachia  between  Gela  and Kamarina,  and  possibly  between  Gela  and  Syracuse  (no. 47). From c. 505,Gela  was  governed  by  tyrants,  beginning  with the  rule  of  Kleandros  and  Hippokrates,  sons  of  the  Olympic victor  Pantares  (Olympionikai 151).Kleandros  was  tyrant  for seven  years  (Hdt. 7.154.1;Arist.Pol.1316a37),and  after  him  his brother  Hippokrates  took  over   µ,  also  for seven  years  (Hdt. 7.155.1;  cf. 6.23.3  and  Thuc. 6.5.3: ).  Hippokrates  conducted  an  aggressive  foreign policy  both  against  the  indigenous  population  (Hdt. 7.154.2\xad3)  and  against  the  Greek  cities  of  Kallipolis  (no. 27), Naxos  (no. 41),  Zankle  (no. 51)  and  Leontinoi  (no. 33),  all  of which  he  "enslaved"  (Hdt. 7.154.2).  He  also  managed  to defeat  the  Syracusans  in  battle  and  to  lay  siege  to  their  city, but  this  conflict was settled through arbitration b y  Corinth (no. 227)  and  Korkyra  (no. 123)  by  which  Syracuse  had  to cede  Kamarina  to  Hippokrates  (Hdt. 7.154.2\xad3).  Kamarina was  then  refounded  by  Gela  with  Hippokrates  as  oecist (Thuc. 6.5.3;  Philistos  (FGrHist 556)  fr. 15).  When  Kamarina was  destroyed  by  Gelon  in  484,  the  Geloans  refounded  it once  again  c. 461  (Thuc. 6.4.3;Diod.  11.76.5);  see  further Berve  ( 1967)  137\xad40.  Zankle  and  its  ruler  Skythes  were dependent  allies  of  Hippokrates  (Hdt. 7.154.2;see Zankle/Messana  (no. 51)). On  Hippokrates\'  death,  the  citizens  of  Gela  attempted  to free  themselves  from  tyranny,  but  Gelon,  the  former doryphoros  of  Hippokrates,  defeated  them  in  battle  and  took power  (Hdt. 7.155.1).  When  in  485  Gelon  became  tyrant  of Syracuse,  he  moved  his  seat  as  well  as  "more  than  half  "of  the Geloan  astoi  to  that  city  (Hdt. 7.156.2).  The  government  of Gela  was  entrusted  to Gelon\'s  brother,  Hieron  (Hdt. 7.156.6), who  later  inherited  the  tyranny  of  Syracuse  and  was  suc- ceeded  at  Gela  by  another  brother,  Polyzalos  (F.Delphes iii.4 452:[ ]  ...  [ ]  []).  Tyranny  at  Gela  presumably came  to  an  end  in  466/5  (Berve ( 1967)  141). In 405  Himilkon  besieged,  pillaged  and  destroyed  (?)  Gela  (Diod. 13.108\xad111.1\xad2),and  after  the  defeat  of  Dionysios the  peace  treaty  between  Carthage  and  Syracuse  (no. 47) stipulated  that  Gela  be  an  ateichistos  tributary  of  Carthage (Diod. 13.114.1;  Staatsverträge 210).  Gela  was  one  of  the Timoleontic  refoundations  (Plut.  Tim. 35.1\xad2;  Talbert  ( 1974) 153\xad55,  204). Our  sources  for  the  military  strength  of  Gela  provide  us with  scanty  information  about  the  size  of  the  polis:  a contin- gent  of 500  hippeis  is  mentioned  by  Diod. 13.83.2  (rC 5s;  cf. Timaios  (FGrHist 566)  fr. 26a).  In  415,  during  the  Athenian attack, 200  Geloan  cavalry  assisted  Syracuse  (Thuc. 6.67.2), and  the  same  number  was  sent  in  413  (Thuc. 7.33.2).  In  414  a small  contingent  from  Gela  under  the  command  of Gylippos  marched  to  the  support  of  Syracuse  (Thuc. 7.1.5), and  in  413  a  navy  (nautikon)  of  five ships as w ell  as  400  akon- tistai  were  sent  to  Syracuse  (Thuc. 7.33.1).  At  the  battle  of Himera  in  406  a  contingent  from  Gela  fought  at  the  side  of Kamarina  (no. 28)  and  Syracuse  (no. 47)  (Diod. 13.86.5).  A C 6\xadC5  Geloan  defeat  at  the  hands  of  Rhegion  (no. 68)  is attested  by  SEG 24  303. Civil  war  is  attested,  as  in  all  other  major  Sicilian  poleis:an early  stasis  (C 7\xadC6)  was  resolved  without  bloodshed  by  an ancestor  of  Gelon  (Hdt. 7.153.2).  Another  stasis,  in  which Dionysios  I  interfered,  is  mentioned  for  the  year  406:  the demos  rose  against  the  despoteia  of  the  dynatotatoi  and  suc- ceeded  owing  to  Dionysios\'  assistance;  in  this  connection the  ekklesia  and  psephismata  are  mentioned  (Diod. 13.93.2\xad4;  Berger  ( 1992)  23\xad25). Diplomatic  activities  comprise  reception  of  envoys (implied  by Diod. 11.68.1  (r 466))  as  well  as  sending  of  envoys (Timaios  (FGrHist 566)  fr. 22  (r 424);  Diod. 13.93.4  (r 406)).  In 424,  Gela  hosted  a  pan-Sicilian  peace  congress,  which  had developed  from  an  ekecheiria  between  Kamarina  (no. 28)  and Gela  (Thuc. 5.58,  65;  Timaios  (FGrHist 566)  fr. 22).  A  Geloan served  as  Epidaurian  theorodokos  in 356/5  (IG iv².195.ii.83). Another  was  appointed  Samian  proxenos  in  C 4l  (IG xii.633). The  rulers  of  C 5f  Gela  displayed  their  power  at  the Panhellenic  sanctuaries.  Gelon  was  victorious  at  Olympia  in 484  (Olympionikai 158;  IvO 143  and  Paus. 6.9.4;Harrell ( 2002));  and  Polyzalos  was  victor  at  Delphi  c. 478  (SEG 3  396; LSAG 266,  275  no. 9;  F.Delphes iii.4452;  cf.  Harrell  ( 2002) 460\xad62).  For  Gelon\'s  donations  at  Delphi:  Syll. ³33\xad34  (cf. Harrell  ( 2002)  453\xad55).  Gela  had  a  thesauros  at  Olympia (Paus. 6.19.15),  a  richly  furnished  C 6m  building,  restruc- tured  in  C 5f  (Mertens-Horn  and  Viola  ( 1990)  238\xad39). Communal  consultation  of  oracles  is  implied  by  Diod. 13.108.4,  which  also  attests  to  an  internal  communal  dedica- tion  of  a  bronze  image  of  Apollo. The  city  occupied  the  east\xadwest-oriented  coastal  plateau, and  during  C 7\xadC5  a  part  of  the  lowland  plain  to  the  north sikelia  193 (Spagnolo  ( 1991)).  The  easternmost  part  of  the  plateau,  with C 7  sanctuaries,  is  normally  regarded  as  the  acropolis  of  the city  (there  is  no  ancient  attestation  of  the  term).  The  monu- mental  C 6  temple  was  replaced  by  a  C 5e  temple  located  fur- ther  east  (Orlandini  ( 1968)  21\xad25;  T.Van  Compernolle  ( 1989) 68\xad69).  The  major  divinity  of  the  sanctuary  was  Athena, probably  Athena  Lindia  (Fischer-Hansen  ( 1996)  322\xad27  with refs.).  There  are  clear  signs  of  some  continuity  of  Greek occupation  during  the  C 4f  and  of  continuity  of  cult. The  central  part  of  the  plateau  was  probably  the  main habitation  area  in  the  Archaic  and  early  Classical  periods, delimited  further  to  the  west  by  the  early  cemeteries (Shepherd  ( 1995)  60\xad70).  There  is  evidence  of  C 8l  Greek occupation,  a  pre-colonial  phase  apparently  supporting  the statement  by Thuc. 6.4.3  that  an  area  of  Gela  called  Lindioi was  occupied  before  the  founding  of  Gela  (for  a  colonisa- tion  of  Gela  in  two  phases,  see  Wentker  ( 1956);  Fiorentini and  De  Miro  ( 1983)).  (Mortuary  evidence,  too,  indicates  a Greek  presence  from  the  end  of  C 8.)  Architectural  terracot- tas  have  revealed  a  large  sanctuary,  consisting  of  at  least  two monumental  temples  (Fischer-Hansen  ( 1996)  327\xad32  with refs.);  the  identity  of  the  divinity  is  uncertain;  Orlandini ( 1968)  31  suggests  Zeus  Atabyrios. No  traces  of  a  circuit  wall  from  the  period  of  foundation have  been  found  so  far,  though  the  existence  of--presum- ably  early--walls is implied b y  Thuc. 6.4.3.  There  are remains  of  a  C 6  circuit  wall,  possibly  raised  in  connection with  C 6l  civic  strife  (Orlandini  ( 1961)  141\xad44),or,if  in  part  of later  origin,  in  connection  with  the  threat  of  the Carthaginians  in  C 5l  (De  Miro  and  Fiorentini  ( 1976\xad77) 434\xad35).  Fortifications in C 4l  are  attested  by  Diod. 19.107.5 (r 317)  and  19.110.2\xad3  (r 311). Little  is  known  of  the  habitation  area  on  the  plateau (Buongiovanni  and  Canzanella  ( 1990)  13).  The  Archaic  city incorporated  the  north  slope  of  the  plateau  and  part  of  the plain  below  (Spagnolo  ( 1991)).  The  size  of  the  Classical  city, including  a  part  of  the  lowland  plains  to  the  north  but excluding  the  western  cemetery  and  including  the  eastern sanctuary,  was  about  200  ha.  There  is  clear  evidence  of  the destruction  by  the  Carthaginians  in  405,  but  also  of  a  re- establishment  of  the  Greek  settlement  soon  after  (Fiorentini ( 2002)).  The  Timoleontic  refoundation  of  Gela  with  a  new overall  urban  plan  comprised  habitation  quarters  in  ter- races  along  the  north  slope  and  on  part  of  the  upper  plateau, incorporating  also  a  new  industrial  quarter,  public  baths and  the  western  part  of  the  plateau,  enclosed  by  the  impres- sive  circuit  walls  at  Capo  Soprano  (Buongiovanni  and Canzanella  ( 1990)  20\xad22;  Panvini  ( 1996)  100\xad20). There  is  further  evidence  of  urban  cults:  a  sanctuary  on the  southern  slope  was  dedicated  to  Hera  (Orlandini  ( 1968) 31\xad33;  IGDS  nos. 137\xad38),  and  close  by  was  the  heroon  for the  oikistes  Antiphemos  (supra).  Gela  was  surrounded  by  a number  of  suburban  sanctuaries  (surveys:  Orlandini ( 1968);  Fiorentini  ( 1985)),  with  paramount  importance assigned  to  sanctuaries  for  Demeter  (Kron  ( 1992);  Hinz ( 1998)  55\xad69).  Other  sanctuaries,  previously  thought  to  be suburban,  are  now  known  to  have  been  located  within  the northern  boundary  of  the  city  (Orlandini  ( 1968)  pl. i.5.6; Spagnolo  ( 1991)  69).  The  stay  of  Aischylos  at  Gela  surely implies  that  the  city  had  a  theatre  in  C 5m.  A  C 7\xadC5  build- ing  complex  located  on  the  coast  south-east  of  the  plateau near  the  estuary  of  the  river  Gelas  has  been  interpreted  as harbour  structures  (Fiorentini  ( 1985)  22;  Panvini  ( 1996) 54\xad57). Gela  began  minting  on  the  initiative  of  Gelon,  c. 490\xad485. The  first issue was of  didrachms  and  tetradrachms  on  the Attic\xadEuboian  standard,  obv.  naked  rider;  rev.  forepart  of man-headed  bull,  legends: (Jenkins  ( 1970)  25).  A second  issue,  mostly  of  tetradrachms,  c. 480\xad470,  is  strongly influenced b y  the  Syracusan  mint  and  has  obv.  four-horse chariot  with  a  flying N ike  above;  rev.  forepart  of  man-faced bull,  legends: , .  Issues  with  the  same  obv.  and rev.  types,  and  variants  including  didrachms  and  drachms, are  known  until  C 5l  (SNG  Cop.  Sicily 251\xad66);  drachms  have obv.  legend (Jenkins  ( 1970)  49).  Tetradrachms from  c. 440\xad430  have  the  standard  rev.  type,  but  a  standing female  figure crowns the bull\'s head w ith  a  wreath  (a  local nymph  or  water-goddess  in  the  role  of  Nike?);  legend: .The  obv.  type  is  very  similar  to  obv. dies  from  Himera  (Jenkins  ( 1970)  71\xad72).  From  c. 425  the tetradrachms  carry  the  obv. legend ; [..];  (SNG  Cop.  Sicily 269\xad70,  277,  279). Smaller  denominations  (didrachms  and  litrai)  have  as  types horseman  or  head  of  river-god  or  Demeter  and  the  legend or (SNG  Cop.  Sicily 271\xad75,  280\xad81). A  gold  coinage  (dilitron  and  litra)  was  issued  in  C 5l,  proba- bly  to  pay  the  mercenary  armies  fighting the Carthaginians in 406/5  (Diod. 13.93).  The  rev.  of  the  gold  litra  has  as  type head  of  the  deity  Sosipolis,  legend: (SNG Cop.  Sicily 276).  Bronze  coinage  began  c. 420  (Jenkins  ( 1979); SNG  Cop.  Sicily 282\xad87).  The  refoundation  of  Gela  by Timoleon  was  marked  by  a  new  issue  of  silver  litrai;  the  obv. type  of  a  warrior  sacrificing a r am  is  variously  interpreted  as Antiphemos,  the  oecist  of  Gela,  or  as  Timoleon  himself  in the  guise  of  the  oecist  of  New  Gela  (Jenkins  ( 1979);  SNG Cop.  Sicily 288). 194 fischer-hansen,  nielsen  and  ampolo'

In [8]:
# Liest das Dictionary als Dataframe ein. Namen der Poleis werden als Index benutzt.
dfPoleis = pd.DataFrame([PoleisRawData]).transpose()
dfPoleis.head(4)

                                                                0
10. Akrai       (Akraios) Map  47.  Lat. 37.05,long.  14.55.  ...
11. Alaisa      (Alaisinos) Map  47.  Lat. 38.00,long.  14.15....
12. Alontion    (Alontinos) Map  47.  Lat. 38.05,long.  14.40....
13. Apollonia   (Apolloniates) Map  47.  Lat. 38.00,long. 14.3...

# Konstruktion neuer Merkmale
## Textmuster mit regulären Ausdrücken

http://www.regexe.de/hilfe.jsp 
https://www.cheatography.com/davechild/cheat-sheets/regular-expressions/

http://www.coli.uni-saarland.de/courses/python1-10/folien/PythonI10-07.pdf

In [9]:
# Umnennen der Spalte von 0 zu 'full_text'
dfPoleis = dfPoleis.rename(columns={0: 'Beschreibung'})
dfPoleis.head()

                                                     Beschreibung
10. Akrai       (Akraios) Map  47.  Lat. 37.05,long.  14.55.  ...
11. Alaisa      (Alaisinos) Map  47.  Lat. 38.00,long.  14.15....
12. Alontion    (Alontinos) Map  47.  Lat. 38.05,long.  14.40....
13. Apollonia   (Apolloniates) Map  47.  Lat. 38.00,long. 14.3...
14. Engyon      (Engyinos)  Map  47.  Lat. 37.45,long.  14.35....

In [10]:
# Konstruktion einer Liste mit sogenannten List-Comprehensions
ListCities = [x[4:] for x in dfPoleis.index]
ListCities

['Akrai ',
 'Alaisa ',
 'Alontion ',
 'Apollonia ',
 'Engyon ',
 'Euboia ',
 'Galeria ',
 'Gela ',
 'Heloron ',
 'Henna ',
 'Herakleia 1',
 'Herakleia 2 ',
 'Herbes(s)os ',
 'Herbita ',
 'Himera ',
 'Hippana ',
 'Imachara ',
 'Kallipolis ',
 'Kamarina ',
 'Kasmenai ',
 'Katane ',
 'Kentoripa ',
 'Kephaloidion ',
 'Leontinoi ',
 'Lipara ',
 '*Longane ',
 'Megara ',
 'Morgantina ',
 'Mylai ',
 'Mytistratos ',
 'Nakone ',
 'Naxos ',
 'Petra ',
 'Piakos ',
 'Selinous ',
 '(Sileraioi)',
 '(Stielanaioi)',
 'Syrakousai ',
 'Tauromenion ',
 'Tyndaris ',
 'bakainon ',
 '(Tyrrhenoi)',
 'Zankle ',
 'dranon ',
 'gyrion ',
 'itna ',
 'kragas ']

In [11]:
# Extrahiere Name der Polis aus Index
dfPoleis['city'] = [x[4:] for x in dfPoleis.index]

In [12]:
# Extrahiere Nummer des Polis Eintrags
dfPoleis['city_index'] = [int(re.findall('\d{1,2}', x)[0]) for x in dfPoleis.index]

In [13]:
# Sortiere die Zeilen nach der Spalte 
dfPoleis = dfPoleis.sort_values(by='city_index')

In [14]:
# Nutze neuen Index (startet bei 0)
#dfPoleis = dfPoleis.reset_index(drop=True)

In [15]:
dfPoleis.head(4)

,Beschreibung,city,city_index
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8

## Textmustersuche in der Beschreibung einer Polis
### Neue Funktionen

In [16]:
def ListePattern(value,pattern):
    x = re.findall(pattern, value)
    if x:
        return(x[0][-5:])

### Geographische Koordinaten

In [17]:
# nicht alle haben geographische Koordinaten
listLat=ListePattern(value=dfPoleis['Beschreibung'].iloc[0],pattern="Lat\.\s?\d+\.\d+")
listLat

'38.05'

In [18]:
# gleiches auch für long.
listLong=ListePattern(value=dfPoleis['Beschreibung'].iloc[0],pattern="long\.\s*\d+\.\d+")
listLong

'15.05'

In [19]:
dfPoleis['Latitude'] = dfPoleis['Beschreibung'].apply(ListePattern,pattern=("Lat\.\s?\d+\.\d+")).astype(float)

dfPoleis['Longitude'] = dfPoleis['Beschreibung'].apply(ListePattern,pattern=("long\.\s*\d+\.\d+")).astype(float)

In [20]:
dfPoleis

,Beschreibung,city,city_index,Latitude,Longitude
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5,38.05,15.05
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6,37.40,14.50
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7,37.40,14.30
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8,NaN,NaN
9. Akragas,"(Akragantinos) Map 47. Lat. 37.20,long. 13....",kragas,9,37.20,13.35
10. Akrai,"(Akraios) Map 47. Lat. 37.05,long. 14.55. ...",Akrai,10,37.05,14.55
11. Alaisa,"(Alaisinos) Map 47. Lat. 38.00,long. 14.15....",Alaisa,11,38.00,14.15
12. Alontion,"(Alontinos) Map 47. Lat. 38.05,long. 14.40....",Alontion,12,38.05,14.40
13. Apollonia,"(Apolloniates) Map 47. Lat. 38.00,long. 14.3...",Apollonia,13,38.00,14.35
14. Engyon,"(Engyinos) Map 47. Lat. 37.45,long. 14.35....",Engyon,14,37.45,14.35
15. Euboia,(Euboeus) Map 47. Unlocated. Type: C: .Th...,Euboia,15,NaN,NaN
16. Galeria,(Galarinos) Map 47.Unlocated (Manni ( 1981)...,Galeria,16,NaN,NaN
17. Gela,"(Geloios, Geloaios) Map 47. Lat. 37.05,long...",Gela,17,37.05,14.15
18. Heloron,"(Ailoros) Map 47. Lat. 36.50,long. 15.05. ...",Heloron,18,36.50,15.05
19. Henna,"(Hennaios) Map 47. Lat. 37.35,long. 14.15. ...",Henna,19,37.35,14.15
20. Herakleia 1,"(Herakleotes) Map 47. Lat. 37.25,long. 13.15...",Herakleia 1,20,37.25,13.15
21. Herakleia 2,"Map 47.Unlocated site in western Sicily, i...",Herakleia 2,21,NaN,NaN
22. Herbes(s)os,"(Herbessinos) Map 47. Unlocated, but presum...",Herbes(s)os,22,NaN,NaN
23. Herbita,(Herbitaios) Map 47.Unlocated (cf. C. Boeh...,Herbita,23,NaN,NaN
24. Himera,"(Himeraios) Map 47. Lat. 37.55,long. 13.50....",Himera,24,37.55,13.50
25. Hippana,"(Hipanatas) Map 47. Lat. 37.40,long. 13.25...",Hippana,25,37.40,13.25
26 *Imachara,(Imacharaios) Map 47. Unlocated. Barr. tent...,Imachara,26,NaN,14.20
27. Kallipolis,(Kallipolites) Map 47. Unlocated. Type: A...,Kallipolis,27,NaN,NaN
28. Kamarina,"(Kamarinaios) Map 47. Lat. 36.50,long. 14.25...",Kamarina,28,36.50,14.25
29. Kasmenai,"(Kasmenaios) Map 47. Lat. 37.05,long. 14.50....",Kasmenai,29,37.05,14.50
30. Katane,"(Katanaios) Map 47. Lat. 37.30,long. 15.05....",Katane,30,37.30,15.05
31. Kentoripa,"(Kentoripinos) Map 47. Lat. 37.35,long. 14.4...",Kentoripa,31,37.35,14.45
32. Kephaloidion,"(Kephaloiditas) Map 47. Lat. 38.00, long. 14...",Kephaloidion,32,38.00,14.00
33. Leontinoi,"(Leontinos) Map 47. Lat. 37.15,long. 15.00....",Leontinoi,33,37.15,15.00
34. Lipara,(Liparaios) Map 47. Lat. 38.30 long. 14.55....,Lipara,34,38.30,14.55
35. *Longane,"(Longenaios) Map 47. Lat. 38.05,long. 15.10....",*Longane,35,38.05,15.10
36. Megara,"(Megareus) Map 47. Lat. 37.10,long. 15.10. ...",Megara,36,37.10,15.10
37. Morgantina,"(Morgantinos) Map 47. Lat. 37.25,long. 14.30...",Morgantina,37,37.25,14.30
38. Mylai,"(Mylaios) Map 47. Lat. 38.15, long 15.15. ...",Mylai,38,38.15,NaN
39. Mytistratos,"(Mytiseratinos) Map 47. Lat. 37.35,long. 14....",Mytistratos,39,37.35,14.00
40. Nakone,(Nakonaios) Map 47. Unlocated (Tegon ( 199...,Nakone,40,NaN,NaN
41. Naxos,"(Naxios) Map 47. Lat. 37.50,long. 15.15. S...",Naxos,41,37.50,15.15
42. Petra,(Petrinos) Map 47. Unlocated (cf. Bejor (...,Petra,42,NaN,NaN
43. Piakos,"(Piakinos) Map 47. Unlocated, but possibly...",Piakos,43,NaN,NaN
44. Selinous,"(Selinousios) Map 47. Lat. 37.35,long. 12.5...",Selinous,44,37.35,12.50
45. (Sileraioi),Map 47. Unlocated (cf. Manni ( 1981) 225)...,(Sileraioi),45,NaN,NaN
46. (Stielanaioi),"Map 47. Lat. 37.10,long. 14.55: the loca- ...",(Stielanaioi),46,37.10,14.55
47. Syrakousai,"(Syrakosios) Map 47. Lat. 37.05,long. 15.15....",Syrakousai,47,37.05,15.15
48. Tauromenion,"(Tauromenitas) Map 47. Lat. 37.50, long. 15....",Tauromenion,48,37.50,15.15
49. Tyndaris,"(Tyndarites) Map 47. Lat. 38.10,long. 15.05...",Tyndaris,49,38.10,15.05
50. (Tyrrhenoi),Map 47. Unlocated. Type: C: .The Tyr- rhen...,(Tyrrhenoi),50,NaN,NaN
51. Zankle,(Zanklaios)/Messana,Zankle,51,NaN,NaN

### Zitatnachweise, Namen, Jahreszahlen

In [21]:
dfPoleis["Beschreibung"].iloc[0]

'(Abakaininos) Map  47.  Lat. 38.05,long. 15.05.  Size  of  territory:  ?  Type:  B: .  The  toponym  is ,  (Diod. 14.90.3)  or  ,  (Diod. 19.65.6;  Steph.  Byz. 2.11).  The  city-ethnic  is   (C 4s  coins,  infra;Diod. 14.78.5;  Steph.  Byz. 2.15). Abakainon  is  called  a  polis  in  the  urban  and  political  sens- es  at  Diod. 14.90.3  (r 393)  and  19.65.6  (r 315),  and  in  the  urban sense  at  14.90.4  (r 393).  The  passage  at  14.90.3  describes  it  as  a polis  symmachis  of  Magon,  and  in  a  later  period  it  was  part  of the  symmachia  of  Agathokles,  alongside  such  poleis  as Kamarina,  Leontinoi,  Katane  and  Messana  (Diod. 19.65.6 (r 315),  19.110.4  (r 311)).  The  internal  collective  use  of  the  city- ethnic  is  found  on  coins  struck  c. 400  (infra),  and  the  exter- nal  collective use  is  found  in  Diod. 19.110.4  (r 311). In 396,  Dionysios  I  deprived  Abakainon  of  a  part  of  its chora,  which  was  handed  over  to  his  new  foundation, Tyndaris  (no. 49;Diod.  14.77.5).  Abakainon  was  situated south-east  of  Tyndaris,  at  modern  Tripi.  The  ancient  city, destroyed  by  the  modern,  is  poorly  known.  However, Diodorus\'  report  ( 14.90.3)  that  in  393  Carthaginian  troops ²²  For  an  analysis  of  the  conflicts,  see  Manni  ( 1976a)  201\xad4. 182 fischer-hansen,  nielsen  and  ampolo defeated  by  Dionysios  took  refuge  in  the  city  (  ) suggests that by this date it was fortified.  There are  sporadic  Greek  remains  from  C 6,  and  substantial  Greek remains  from  C 4  (Villard  ( 1954));  the  investigation  of  the extensive  cemetery  north  of  the  city  has  brought  to  light  also monumental  C 4  tombs  of  the  type  known  from  Leontinoi (Bacci  and  Spigo  ( 1997\xad98));  the  city  minted  a  Greek-style coinage  from  C 5m  (infra). Abakainon  struck  silver  coins  (litra,  hemilitron)  from c.C 5m:  obv.  laureate  head,  bearded  (an  indigenous  god assimilated  to  Zeus)  or  beardless  (assimilated  to  Apollo),  or, on  later  coinage,  female  head  (nymph,  or  Demeter  or Persephone);  rev.  wild  boar  and  acorn,  at  times  a  grain  of barley  or  sow  and  piglet,  legend: ,  (above acorn)  (below), (on  obv.) (on  rev.), (Head,  HN ²  118;  Bertino  ( 1975);  SNG Cop.  Sicily 1\xad6).  In  C 4s,  the  city  struck  in  bronze:  ( 1) Probably  from  the  time  of  Timoleon:  obv.  female  head;  rev. forepart  of  bull,  or  forepart  of  man-headed  bull,  legend: ,  [],  (Head, HN ²  118;  Bertino  ( 1975)  124\xad26;  SNG  Cop.  Sicily 7);  ( 2) c. 344\xad338:  obv.  head  of  Dioskouros,  legend: ;  rev."free horse",  legend: ;  the  obv.  type  may  indicate  influence from  the  mint  of  Tyndaris  or,  more  generally,  from  southern Italy  (Bertino  ( 1975)  124\xad26).'

## Muster (Pattern) zur Erkennung der Literaturreferenzen

- Primärquellen

(Polyb. 1.18.2)
(Diod. 13.85.4  (r 406))
(Diod. 13.108.2)
(Hdt. 7.165;  IGDS  no. 182a)
(Pind.  Pyth. 6)
(Thuc. 6.4.4: µµ  )
(Xanthos  (FGrHist 765)  fr. 33;  Arist.  fr. 865)

- Sekundärquellen

(Karlsson  ( 1995)  161
(Waele  ( 1971) 195\xad99;  Hinz  ( 1998)  79\xad90)

- Jahreszahlen
( dddd)

In [22]:
# Definiere Funktion die reguläre Ausdrücke auf den DataFrame anwendet.
def ListePatternFull(value,pattern):
    x = re.findall(pattern, value)
    if x:
        return(x)

### Testen der regulären Ausdrücke

In [23]:
dfPoleis['Beschreibung'].iloc[0]

'(Abakaininos) Map  47.  Lat. 38.05,long. 15.05.  Size  of  territory:  ?  Type:  B: .  The  toponym  is ,  (Diod. 14.90.3)  or  ,  (Diod. 19.65.6;  Steph.  Byz. 2.11).  The  city-ethnic  is   (C 4s  coins,  infra;Diod. 14.78.5;  Steph.  Byz. 2.15). Abakainon  is  called  a  polis  in  the  urban  and  political  sens- es  at  Diod. 14.90.3  (r 393)  and  19.65.6  (r 315),  and  in  the  urban sense  at  14.90.4  (r 393).  The  passage  at  14.90.3  describes  it  as  a polis  symmachis  of  Magon,  and  in  a  later  period  it  was  part  of the  symmachia  of  Agathokles,  alongside  such  poleis  as Kamarina,  Leontinoi,  Katane  and  Messana  (Diod. 19.65.6 (r 315),  19.110.4  (r 311)).  The  internal  collective  use  of  the  city- ethnic  is  found  on  coins  struck  c. 400  (infra),  and  the  exter- nal  collective use  is  found  in  Diod. 19.110.4  (r 311). In 396,  Dionysios  I  deprived  Abakainon  of  a  part  of  its chora,  which  was  handed  over  to  his  new  foundation, Tyndaris  (no. 49;Diod.  14.77.5).  Abakainon  was  situated south-east  of  Tyndaris,  at  modern  Tripi.  The  ancient  city, destroyed  by  the  modern,  is  poorly  known.  However, Diodorus\'  report  ( 14.90.3)  that  in  393  Carthaginian  troops ²²  For  an  analysis  of  the  conflicts,  see  Manni  ( 1976a)  201\xad4. 182 fischer-hansen,  nielsen  and  ampolo defeated  by  Dionysios  took  refuge  in  the  city  (  ) suggests that by this date it was fortified.  There are  sporadic  Greek  remains  from  C 6,  and  substantial  Greek remains  from  C 4  (Villard  ( 1954));  the  investigation  of  the extensive  cemetery  north  of  the  city  has  brought  to  light  also monumental  C 4  tombs  of  the  type  known  from  Leontinoi (Bacci  and  Spigo  ( 1997\xad98));  the  city  minted  a  Greek-style coinage  from  C 5m  (infra). Abakainon  struck  silver  coins  (litra,  hemilitron)  from c.C 5m:  obv.  laureate  head,  bearded  (an  indigenous  god assimilated  to  Zeus)  or  beardless  (assimilated  to  Apollo),  or, on  later  coinage,  female  head  (nymph,  or  Demeter  or Persephone);  rev.  wild  boar  and  acorn,  at  times  a  grain  of barley  or  sow  and  piglet,  legend: ,  (above acorn)  (below), (on  obv.) (on  rev.), (Head,  HN ²  118;  Bertino  ( 1975);  SNG Cop.  Sicily 1\xad6).  In  C 4s,  the  city  struck  in  bronze:  ( 1) Probably  from  the  time  of  Timoleon:  obv.  female  head;  rev. forepart  of  bull,  or  forepart  of  man-headed  bull,  legend: ,  [],  (Head, HN ²  118;  Bertino  ( 1975)  124\xad26;  SNG  Cop.  Sicily 7);  ( 2) c. 344\xad338:  obv.  head  of  Dioskouros,  legend: ;  rev."free horse",  legend: ;  the  obv.  type  may  indicate  influence from  the  mint  of  Tyndaris  or,  more  generally,  from  southern Italy  (Bertino  ( 1975)  124\xad26).'

Finde alle groß-geschriebenen Wörter mit mindestens 3 nachfolgenden kleinen Buchstaben.

In [24]:
re.findall('[A-Z][a-z]{3,10}',dfPoleis['Beschreibung'].iloc[0])

['Abakaininos',
 'Size',
 'Type',
 'Diod',
 'Diod',
 'Steph',
 'Diod',
 'Steph',
 'Abakainon',
 'Diod',
 'Magon',
 'Agathokles',
 'Kamarina',
 'Leontinoi',
 'Katane',
 'Messana',
 'Diod',
 'Diod',
 'Dionysios',
 'Abakainon',
 'Tyndaris',
 'Diod',
 'Abakainon',
 'Tyndaris',
 'Tripi',
 'However',
 'Diodorus',
 'Carthaginia',
 'Manni',
 'Dionysios',
 'There',
 'Greek',
 'Greek',
 'Villard',
 'Leontinoi',
 'Bacci',
 'Spigo',
 'Greek',
 'Abakainon',
 'Zeus',
 'Apollo',
 'Demeter',
 'Persephone',
 'Head',
 'Bertino',
 'Sicily',
 'Probably',
 'Timoleon',
 'Head',
 'Bertino',
 'Sicily',
 'Dioskouros',
 'Tyndaris',
 'Italy',
 'Bertino']

Finde alle Ausdrücke wie oben, denen ein Punkt folgt, mit anschließenden Zifferfolgen der Form [Ziffern][Punkt][Ziffern][Punkt][Ziffern]

In [25]:
re.findall('[A-Z][a-z]{1,10}\. \d{1,3}\.\d{1,3}\.\d{1,3}',dfPoleis['Beschreibung'].iloc[0])

['Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 14.78.5',
 'Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 19.110.4']

Finde alle Ausdrücke wie oben, wobei statt des Punktes nach den kleinen Buchstaben auch zwei Leerzeichen und eine runde Klammer folgen können

In [26]:
re.findall('[A-Z][a-z]{1,10}[\.| ] [(|\d{0,4}][\d{1,4}| ][\.|\d{}]\d{1,3}[\.|\d][\d|)]',dfPoleis['Beschreibung'].iloc[0])

['Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 14.78.5',
 'Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 19.110.4',
 'Manni  ( 1976',
 'Villard  ( 1954)',
 'Spigo  ( 1997',
 'Bertino  ( 1975)',
 'Bertino  ( 1975)',
 'Bertino  ( 1975)']

In [27]:
#Alternativ kann man auch Gruppen definieren zB. (A(B|C)) 
#re.findall('([A-Z][a-z]{1,10}(\. \d{1,3}\.\d{1,3}\.\d{1,3}|\s{2}\(\s\d{4}))',dfPoleis['Beschreibung'].iloc[0])

In [28]:
dfPoleis['Namen'] = dfPoleis['Beschreibung'].apply(ListePatternFull,pattern=('[A-Z][a-z]{3,10}'))

In [29]:
dfPoleis['Quellen'] = dfPoleis['Beschreibung'].apply(ListePatternFull,pattern=('[A-Z][a-z]{1,10}[\.| ] [(|\d{0,4}][\d{1,4}| ][\.|\d{}]\d{1,3}[\.|\d][\d|)]'))

In [30]:
dfPoleis.head(4)

,Beschreibung,city,city_index,Latitude,Longitude,Namen,Quellen
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5,38.05,15.05,"[Abakaininos, Size, Type, Diod, Diod, Steph, D...","[Diod. 14.90.3, Diod. 19.65.6, Diod. 14.78.5, ..."
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6,37.40,14.50,"[Adranites, Size, Type, Diod, Steph, Diod, Adr...","[Diod. 14.37.5, Diod. 16.68.9, Diod. 14.37.5, ..."
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7,37.40,14.30,"[Agyrinaios, Size, Type, Diod, Ptol, Geog, Ste...","[Byz. 23.19), Diod. 16.82.4, Moggi ( 1976), D..."
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8,NaN,NaN,"[Aitnaios, Location, Aitna, Katane, Aitna, Dio...","[Diod. 11.49.1, Diod. 11.49.1, Diod. 11.66.4, ..."

In [31]:
#dfBesp = dfPoleis['Beschreibung'].str.replace('(','\n(').str.replace(')',')\n')

In [32]:
#print(dfBesp.iloc[0])

## Muster zur Erkennung von Namen

Empedokles  ( 496)
Theron  ( 476)
Timoleon  c. 338

In [33]:
# MALTE: RE für die Primärquellen; Sekundärquellen; Namen entwickeln und an df anhängen.